h1 MUSIC
p UPCOMING CONCERTS

div(ng-repeat="music in $ctrl.musics")
    h2 {{music.title}}
    p {{music.body}}
    div.tags
        span(ng-repeat="tag in music.tags") {{tag}}


img(ng-src="http://www.zorlupsm.com/uploads/event/profile/700x900/700x900-236.jpg")
p1 Başarılı rock müzik grubu mor ve ötesi, 15 Mart'ta Dorock Stage sahnesinde hayranlarıyla buluşuyor.Toplamda 8 albüm, 1 EP, 2 de single yayımladığı kariyeri boyunca ülke rock piyasasını tanımlayan isimlerden biri haline gelen ve eriştiği bu konumu 20 yıl boyunca koruyan mor ve ötesi, birçok değerli ismin albümüne de katkıda bulundu.  2008 yılında ise Eurovision Şarkı Yarışması’nda Türkiye'yi Deli adlı parçayla temsil etti. 


div
 p Başarılı rock müzik grubu mor ve ötesi, 15 Mart'ta Dorock Stage sahnesinde hayranlarıyla buluşuyor.