chat-box(ng-repeat="thread in $ctrl.activeChatBoxes" thread-data="thread", ng-class="{minimized: thread.minimized, active: thread == $ctrl.getActiveChatBox(), unread: thread.unread}")
img(ng-src="https://static1.squarespace.com/static/55d2ca19e4b09a7ab6e43dde/t/57c74942893fc087ae36529a/1475102227879/")