h1 
div.menu
    div.button(ng-click="$ctrl.setItem('News')") 
        img(ng-src="http://icons.iconarchive.com/icons/pelfusion/long-shadow-ios7/1024/News-icon.png") 
    div.button(ng-click="$ctrl.setItem('Music')")
        img(ng-src="http://www.iconskid.com/images/75/itunes-store-icon-the-music-was-free-to-well-be--75612.png") 
    div.button(ng-click="$ctrl.setItem('Movie')")
        img(ng-src="http://iconshow.me/media/images/Mixed/small-n-flat-icon/png/512/movie.png")  
    div.button(ng-click="$ctrl.setItem('Map')")
        img(ng-src="http://iconshow.me/media/images/Mixed/small-n-flat-icon/png/512/map.png")         