h1 Menu
div.button(ng-click="$ctrl.setItem('Posts')") Posts
div.button(ng-click="$ctrl.setItem('Tags')") Tags
div.button(ng-click="$ctrl.setItem('MUSIC')") MUSIC
div.button(ng-click="$ctrl.setItem('bio')") bio

