h1 Menu
div.button(ng-click="$ctrl.setItem('News')") News
div.button(ng-click="$ctrl.setItem('Tags')") Tags
div.button(ng-click="$ctrl.setItem('MUSIC')") MUSIC
div.button(ng-click="$ctrl.setItem('Movie')") Movie

