h1 News
p Hello! You can follow the latest Music News here!!!


    h2 "Pregnant Ciara 'thankful' after escaping car crash unharmed"
    img(ng-src="http://images6.fanpop.com/image/photos/36900000/Ciara-pregnant-shoot-ciara-36992591-1440-900.jpg")
    p "Read more at http://www.music-news.com/news/UK/104098/Pregnant-Ciara-thankful-after-escaping-car-crash-unharmed"
  

    h2 "Billy Ray Cyrus sparks speculation Miley Cyrus is married"
    img(ng-src="http://4.bp.blogspot.com/-OmrtZfg-E8U/UYQqJz3VinI/AAAAAAAAGsM/W-hrU48ja-0/s1600/Cyrus-miley-cyrus-30493662-1600-1200.jpg")
    p "Read more at http://www.music-news.com/news/UK/104079/Billy-Ray-Cyrus-sparks-speculation-Miley-Cyrus-is-married"
   

    h2 "Lionel Richie and Mariah Carey cancel select dates on rescheduled tour"
    img(ng-src="http://www.altitudetickets.com/media/2797/lionel-mariah-event-2017.jpg")
    p "Read more at http://www.music-news.com/news/UK/104086/Lionel-Richie-and-Mariah-Carey-cancel-select-dates-on-rescheduled-tour"

