h1 News
p Hello! You can follow the latest Music News here!!!

div(ng-repeat="n in $ctrl.news")
    h2 {{n.title}}
    div.newsImage
        img(ng-src="{{n.src}}")
    a(ng-href="{{n.src2}}") {{n.body}}
    p


