content-pane {
    display: block;
    position: absolute;
    height: 100%;
    top: 0;
    width: calc(100% - 200px);
    left: 200px;
    overflow: scroll;
}
content-pane img {
    border: 1px solid #ddd;
    border-radius: 4px;
    padding: 5px;
    width: 300px;
}
content-pane p {
    color: #9f046f;
    margin: 0 5px;
    padding: 5px;
}
content-pane img{
    width: 1000px;
    height: 563px;
}