h1 Hello world! This is IT537!
p {{$ctrl.content}}
news(ng-if="$ctrl.content == 'News'")
tags(ng-if="$ctrl.content == 'Tags'")
links(ng-if="$ctrl.content == 'Links'")
movie(ng-if="$ctrl.content == 'Movie'")
