h1 WELCOME JAKE!
p Please Select An Interest

news(ng-if="$ctrl.content == 'News'")
tags(ng-if="$ctrl.content == 'Tags'")
MUSIC(ng-if="$ctrl.content == 'MUSIC'")
movie(ng-if="$ctrl.content == 'Movie'")
