h1 WELCOME TO THE EVENTOR!
p {{$ctrl.content}}
posts(ng-if="$ctrl.content == 'Posts'")
tags(ng-if="$ctrl.content == 'Tags'")
MUSIC(ng-if="$ctrl.content == 'MUSIC'")
bio(ng-if="$ctrl.content == 'Bio'")
