h1 WELCOME JAKE!

    
news(ng-if="$ctrl.content == 'News'")
tags(ng-if="$ctrl.content == 'Tags'")
Music(ng-if="$ctrl.content == 'Music'")
movie(ng-if="$ctrl.content == 'Movie'")
eventsMap(ng-if="$ctrl.content == 'Map'")