.angular-google-map-container { 
    height: 490px; 
    width: 600px;
}
.eventInfo{
    position: absolute;
    top: -20px;
    left: 620px;
    width: 350px;
    height: 410px;
    overflow: scroll;
    z-index: 1;
}