
h1 Maps
<ui-gmap-google-map center='$ctrl.map.center' zoom='$ctrl.map.zoom'>
    <ui-gmap-window options="$ctrl.windowOpt" show="$ctrl.windowOpt.show" closeClick="$ctrl.closeWindow"> 
        div merhaba
    </ui-gmap-window>
    <ui-gmap-markers models='$ctrl.marker' coords="'self'" icon="'icon'" idkey='$ctrl.marker.id'></ui-gmap-markers>
</ui-gmap-google-map>
